.A{
    color: orange;
        background-color: white;
        text-align: center;
        display: block;
}
.machine{
    position: relative;
        left: 350PX;
        
    }
    .R{
        color: orange;
            background-color: white;
            display: block;

    }

 

